#form-container {
    margin-top: 100px;
    border-radius: 20px;
    border-style: groove;
    border-width: 5px;
    border-color: #00ccff
}

label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

