<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team4.dao.MatchOrderMapper" >
  <resultMap id="MatchOrdertMap" type="MatchOrder" >
    <id column="matchID" property="matchID" jdbcType="VARCHAR" />
    <result column="symbol" property="symbol" jdbcType="VARCHAR" />
    <result column="bid_trader_name" property="bid_trader_name" jdbcType="VARCHAR" />
    <result column="ask_trader_name" property="ask_trader_name" jdbcType="VARCHAR" />
    <result column="bid_price" property="bid_price" jdbcType="DOUBLE"></result>
    <result column="ask_price" property="ask_price" jdbcType="DOUBLE"></result>
    <result column="bid_size" property="bid_size" jdbcType="INTEGER"></result>
    <result column="ask_size" property="ask_size" jdbcType="INTEGER"></result>
  </resultMap>
  
  <sql id="Base_MatchOrder_List" >
    matchID,symbol,bid_trader_name,ask_trader_name,bid_price,ask_price,bid_size,ask_size
  </sql>
  
  <select id="getMatchOrderById" resultMap="MatchOrdertMap" parameterType="String" >
    select 
    <include refid="Base_MatchOrder_List" />
    from matchorders
    where matchID = #{matchID,jdbcType=VARCHAR}
  </select>
 
  <insert id="addMatchOrder" parameterType="MatchOrder" >
    insert into matchorders (matchID,symbol,bid_trader_name,ask_trader_name,bid_price,ask_price,bid_size,ask_size)
    values (#{matchID,jdbcType=VARCHAR}, #{symbol,jdbcType=VARCHAR}, #{bid_trader_name,jdbcType=VARCHAR}, 
      #{ask_trader_name,jdbcType=VARCHAR},#{bid_price,jdbcType=DOUBLE},#{ask_price,jdbcType=DOUBLE},
     #{bid_size,jdbcType=INTEGER},#{ask_size,jdbcType=INTEGER})
  </insert>
 
 <select id="getAllMatchOrders" resultMap="MatchOrdertMap" >
    select 
    <include refid="Base_MatchOrder_List" />
    from matchorders
  </select>
  
  <select id="getMachOrderCount" resultType="java.lang.Integer">
    select 
  	count(*)
    from matchorders
  </select>
  
</mapper>