<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team4.dao.OrderMapper">
	<resultMap id="OrderMap" type="Order">
		<id column="orderID" property="orderId" jdbcType="INTEGER" />
		<result column="symbol" property="symbol" jdbcType="VARCHAR" />
		<result column="traderName" property="traderName" jdbcType="VARCHAR" />
		<result column="side" property="side" jdbcType="VARCHAR" />
		<result column="Qty" property="Qty" jdbcType="INTEGER"></result>
		<result column="price" property="price" jdbcType="DOUBLE"></result>
		<result column="FOK" property="FOK" jdbcType="VARCHAR"></result>
		<result column="condition" property="condition" jdbcType="VARCHAR"></result>
		<result column="status" property="status" jdbcType="VARCHAR"></result>
		<result column="otherPrice" property="otherPrice" jdbcType="DOUBLE"></result>
	</resultMap>

	<sql id="Base_Order_List">
		orderID,symbol,traderName,side,Qty,price,FOK,condition,status,otherPrice
	</sql>

	<select id="getOrderById" resultMap="OrderMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Order_List" />
		from orders
		where orderID = #{orderId,jdbcType=INTEGER}
	</select>

	<insert id="addOrder" parameterType="com.team4.pojo.Order">
		insert into orders
		(orderID,symbol,traderName,side,Qty,price,FOK,condition,status,otherPrice)
		values (#{orderID,jdbcType=INTEGER}, #{symbol,jdbcType=VARCHAR},
		#{traderName,jdbcType=VARCHAR},#{side,jdbcType=VARCHAR},
		#{Qty,jdbcType=INTEGER},#{price,jdbcType=DECIMAL},
		#{FOK,jdbcType=VARCHAR},#{condition,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},#{otherPrice,jdbcType=DECIMAL})
	</insert>

	<select id="getAllBidOrders" resultMap="OrderMap" parameterType="String">
		select
		<include refid="Base_Order_List" />
		from orders where side = #{side,jdbcType=VARCHAR}
		order by price desc
	</select>

	<select id="getAllAskOrders" resultMap="OrderMap" parameterType="String">
		select
		<include refid="Base_Order_List" />
		from orders where side = #{side,jdbcType=VARCHAR}
		order by price asc
	</select>

	<select id="getBidOrdersBySymbol" resultMap="OrderMap" parameterType="String">
		select
		<include refid="Base_Order_List" />
		from orders
		where symbol = #{symbol,jdbcType=VARCHAR} and side = #{side,jdbcType=VARCHAR}
		order by price desc
	</select>

	<select id="getAskOrdersBySymbol" resultMap="OrderMap" parameterType="String">
		select
		<include refid="Base_Order_List" />
		from orders
		where symbol = #{symbol,jdbcType=VARCHAR} and side = #{side,jdbcType=VARCHAR}
		order by price asc
	</select>

	<select id="getOrderCount" resultType="java.lang.Integer">
		select
		count(*)
		from orders
	</select>

	<delete id="deleteOrder" parameterType="java.lang.Integer">
		update orders set status = #{status,jdbcType=VARCHAR} where orderID =
		#{orderId,jdbcType=INTEGER}
	</delete>
</mapper>