<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team4.dao.SymbolMapper" >
  <resultMap id="SymbolMap" type="Symbol" >
    <id column="symbolName" property="symbol" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="lastSale" property="last_sale" jdbcType="DOUBLE" />
    <result column="change_net" property="change_net" jdbcType="VARCHAR" />
    <result column="share_volume" property="share_volume" jdbcType="INTEGER"></result>
    
  </resultMap>
  
  <sql id="Base_Symbol_List" >
    symbolName,company,lastSale,change_net,share_volume
  </sql>
  
  <select id="getSymbolById" resultMap="SymbolMap" parameterType="String" >
    select 
    <include refid="Base_Symbol_List" />
    from symbols
    where symbolName = #{symbol,jdbcType=VARCHAR}
  </select>
 
 <select id="getAllSymbol" resultMap="SymbolMap" >
    select 
    <include refid="Base_Symbol_List" />
    from symbols
  </select>
  
  <select id="getSymbolsByStr" resultMap="SymbolMap" parameterType="String">
    select 
    <include refid="Base_Symbol_List" />
    from symbols
    where symbolName like concat('%',#{symbol},'%') OR company like concat('%',#{company},'%')
  </select>
  
  <update id="updateSymbol" parameterType="com.team4.pojo.Symbol">
  	update symbols 
  	set company = #{company,jdbcType=VARCHAR},
  		LastSale = #{symbol,jdbcType=DOUBLE},
  		change_net = #{symbol,jdbcType=VARCHAR},
  		share_volume = #{symbol,jdbcType=INTEGER}
  	where symbolName = #{symbol,jdbcType=VARCHAR}
  </update>
  
</mapper>